/* componente de animacion de cuadros */

/* Propiedades del cuadro */
.bgAnimated {
    /* background: linear-gradient(90deg, rgba(45,82,184,1) 24%, rgba(89,51,159,0.44396551724137934) 100%); */
    background: linear-gradient(90deg, rgba(62,58,180,1) 0%, rgba(135,29,253,1) 100%);
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    left: 110%;
    animation-name: animatedCuadros;
    animation-timing-function: linear;
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* Explosion del cuadro */
.bgAnimated.exploding {
    opacity: 0;
}

.bgAnimated.exploding::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgb(113, 88, 255);
    border-radius: 50%;
    animation: explode 0.2s ease-in-out;
}

/* Explosion del cuadro Animacion */
@keyframes explode {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 100px;
        height: 100px;
        opacity: 0.8;
    }
}


/* Animacion del movimieto en el eje X del cuadro */
@keyframes animatedCuadros {
    0% {
        left: 0;
    }

    100% {
        transform: rotate(0turn);
        left: 100%;
    }
}