/* usar Sass para mayor fluides con bootstrap */
:root {
    --metallic-blue: #4567b7;
}

.bg-metallic {
    background-color: var(--metallic-blue) !important;
}

.bg-metallic-animation {
    background: linear-gradient(275deg, #2f4f7f, #4e83d3, #2f4f7f, #2f4f7f);
    background-size: 600% 600%;

    animation: reflex 30s linear infinite;

}

.iconLink {
    width: 40px;
    height: 40px;
    color: currentColor;
    filter: drop-shadow(2px 2px 2px rgba(92, 91, 91, 0.5));
}
.iconLink-sm{
    width: 25px !important;
    height: 25px !important;
}
.iconLink-black {
    width: 40px;
    height: 40px;
    color: currentColor;
    filter: drop-shadow(2px 2px 2px rgba(92, 91, 91, 0.5));
}

.iconLink:hover {
    color: currentColor;
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0));
    transform: scale(1.2);
    animation: reflexColor 4s linear;
}
.iconLink-black:hover {
    color: currentColor;
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0));
    transform: scale(1.2);
    animation: reflexColorBlack 4s linear;
}

@keyframes reflex {

    0%,
    45% {
        background-position: 0% 0%
    }

    50% {
        background-position: 100% 46%
    }

    60% {
        background-position: 140% 100%
    }

    100% {
        background-position: 140% 100%;
        transition: all 0.5 ease;

    }
}

@keyframes reflexColorBlack {
    0% {
        color: currentColor;
        transform: scale(1);
        filter: brightness(100%);
    }

    3% {
        transform: scale(1.2);
    }

    20% {
        color: currentColor;
        filter: brightness(100%);
        filter: contrast(100%);

    }

    40% {
        filter: brightness(400%);
        filter: contrast(0%);

    }

    55% {
        filter: brightness(100%);
        filter: contrast(100%);

    }
}

@keyframes reflexColor {
    0% {
        color: currentColor;
        transform: scale(1);
        filter: brightness(100%);
    }

    3% {
        transform: scale(1.2);
    }

    20% {
        color: currentColor;
        filter: brightness(100%);

    }

    40% {
        filter: brightness(150%);

    }

    55% {
        filter: brightness(100%);

    }
}