.inputTransparent {
    width: 120px !important;
    border: 2px #00000000 solid !important;
    border-bottom: 2px #ffffff solid !important;
    border-radius: 0px !important;
    margin-bottom:3px !important ;
    transition: border ease 200ms;
    box-sizing: border-box !important;
}

.inputTransparent:focus-visible {
    border: 2px #00000000 solid !important;
    border-bottom: 2px #236e99 solid !important;
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
}

/* Input textarea */
.textareaArticle {
    border: 2px #00000000 solid !important;
    border-bottom: 2px #dbdbdb solid !important;
    border-radius: 0px !important;
    box-sizing: border-box !important;
    height: 100px !important;
    transition: border ease 0.5s;
    resize: none;
}

.textareaArticle:focus {
    box-sizing: border-box !important;
    border-bottom: 2px #000 solid !important;
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
}

.textareaArticle.is-invalid {
    border-bottom: 2px #e23f3f solid !important;
}

.textareaArticle.is-invalid:focus {
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
}
/* form create Article */

.containerFormArticle{
    width:60% ;
    max-width: 700px;
}
@media (max-width:425px){
    .containerFormArticle{
        width:100% ;
        margin:20px 0px 0px 0px !important ;
    }
    .containerFormArticle form {
        display: flex;
        flex-direction: column;
    }
}